$main-text-color: #060b35;
$secondary-text-color: #616070;
$card-border-color: #f3f3f3;
$button-text-color: #fff;
$accent-color: #00acdc;
$button-hover-bg-color: #fff;
$header-accent-color: #00acdc;
$nav-link-color: #060b35;
$card-title-text-hover-color: #34568b;
$card-width: 200px;
$card-height: 408px;
$transition-duration: 300ms;
